body
{
	background-color: #1a1b18;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}

#Demonstration
{
	width: 400px;
	height: 400px;
	background-color: #212121;
	padding: 2px;
	border-radius: 6px;
	position: relative;
	top: -630px;
}

table td .void
{
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background-color: #97E5E5;
}

table td .void:hover
{
	background-color: yellow;
}

table td .solid
{
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background-color: black;
}

table td .solid:hover
{
	background-color: #993333;
}

table td .closed
{
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background-color: green;	
}

table td .closed:hover
{
	background-color: yellow;
}

table td .path
{
	width: 8px;
	height: 8px;
	border-radius: 28%;
	background-color: #FF9900;	
}

#Controls td
{
	padding-left: 10px;
}

.control{
	padding: 2px;
	position: relative;
	top: -730px;
	left: -250px;
	width: 80px;
	border-radius: 10px;
	background-color: #1C1C1C;
	font-size: 8px;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
.control:hover{
	background-color: gray;
}
#increase, #decrease{
	padding: none;
	height: 60px;
	font-size: 30px;
}

#increase h1, #decrease h1
{
	padding: none;
	position: relative;
	top: -48px;
}

.hud
{
	width: 270px;
	position: relative;
	left: 60px;
	bottom: 830px;
	color: white;
	font-family: sans-serif;
	font-size: 10px;
}

.information
{
	width: 450px;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
	right: 720px;
	bottom: -500px;
}

.information .allInfo
{
	width: 200%;
	position: relative;
	left: -700px;
	top: 100px;
}

.heatMaps img
{
	width: 100%;
}